@import "../../units";

.phones {
  list-style: none;
}

.loading {
  @extend %text-body;
  color: $text-primary;
}

.nav-location {
  @extend %text-small;
  margin-top: 20px;
  display: flex;
  align-items: center;

  &__svg--arrow {
    padding: 0 14px;
    transform: rotate(90deg);
  }
}

.phones-page {
  &__title {
    margin-top: 36px;
    margin-bottom: 8px;
  }

  &__counter {
    @extend %text-small;
    margin-bottom: 14px;
  }

  &__sorting {
    display: flex;
    margin-bottom: 24px;
    margin-top: 40px;
  }
}
