@import "../../units";

.basket-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $elements;
  margin: 0 16px 16px 0;
  height: 128px;

  &__remuve {
    border: none;
    color: $elements;
    width: 32px;
    height: 32px;
    margin: 10px;
    background-color: $white;
    transform: rotate(45deg);
    font-size: 24px;
    border-radius: 50%;
    &:hover {
      color: $text-primary;
    }
  }

  &__img {
    width: 66px;
    height: 66px;
  }

  &__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding-left: 10px;
  }

  &__controler {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &--price {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 44px;
      width: 144px;
      font-size: 22px;
      line-height: 28px;
      font-weight: bold;
    }

    &--button {
      text-align: center;
      width: 32px;
      height: 32px;
      border: 1px solid $icons;
      box-sizing: border-box;
      background-color: $white;
      transition: 0.3s;

      &:hover {
        border-color: $text-primary;
      }

      &:disabled {
        color: $icons;
        border-color: $icons;
      }
    }

    &--count {
      box-sizing: border-box;
      line-height: 32px;
      text-align: center;
      width: 32px;
      height: 32px;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
