@import '../../units';

.slider-item {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__title {
    padding-top: 40px;
  }

  &__buttons {
    display: flex;
    align-items: flex-end;

    & > button {
      margin: 0 8px;
    }
  }

  &__items {
    overflow: hidden;
  }
}
