@import "./vars";

%text-body {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  color: $text-secondaty;
}

%text-small {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  color: $text-secondaty;
  font-family: "Mont-SemiBold", sans-serif;
}

%flex-centered {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
