@import "../../../units";

.phone-imeges {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 544px;

  &__container--small {
    display: flex;
    flex-direction: column;
    max-height: 464px;
    overflow: scroll;
  }

  &__img {
    box-sizing: border-box;
    padding: 1px;
    width: 78px;
    height: 78px;
    margin-bottom: 23px;
    margin-right: 16px;
    border: 1px solid $icons;
    transition: 0.3s;
    &:hover {
      border-color: $text-secondaty;
    }
  }

  &__container--big {
    padding: 11px;
    overflow: hidden;
  }

  &__imege--big {
    display: flex;
    min-width: 464px;
    min-height: 464px;
  }
}

@media screen and (max-width: 540px) {
  .phone-imeges {
    height: min-content;
    flex-direction: column-reverse;

    &__container--small {
      flex-direction: row;
      overflow: scroll;
    }
    &__container--big {
      display: flex;
    }
    &__imege--big {
      margin-bottom: 24px;
      min-width: 250px;
      min-height: 250px;
    }
  }
}
